html {
	height: 100%;
	width: 100%;
}

body {
	min-height: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	text-rendering: optimizeLegibility;
	font-family: 'Open Sans', 'Segoe UI Semibold', 'Segoe UI', Arial, Tahoma,
		sans-serif;
}

span {
	display: inline-block;
}

table {
	border-collapse: collapse;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: white;
	opacity: 0.8;
}

a:hover {
	opacity: 1;
}

.nav a {
	text-transform: uppercase;
	padding-bottom: 10px;
	border-bottom: 3px solid transparent;
	transition: border-bottom 200ms ease-in-out;
}

.nav a:hover,
.nav a.active {
	opacity: 1;
	border-bottom: 3px solid white;
}

.nav {
	position: fixed;
	z-index: 2;
	padding-top: 10px;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #111111;
	transition: all 200ms ease-in-out;
	box-sizing: border-box;
}

.toggle-navigation-container {
	position: absolute;
	top: 15px;
	right: 50px;
	height: 25px;
	width: 30px;
	cursor: pointer;
}

.toggle-navigation {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	top: 50%;
	width: 30px;
	height: 2px;
	background-color: lightgrey;
	cursor: pointer;
	transition: all 200ms ease-in-out;
}

.toggle-navigation::before,
.toggle-navigation::after {
	position: absolute;
	content: '';
	height: 30px;
	width: 2px;
	background-color: lightgrey;
	left: 14px;
	transform: rotate(90deg);
	transition: all 200ms ease-in-out;
}

.toggle-navigation::before {
	top: -21px;
}

.toggle-navigation::after {
	top: -7px;
}

.toggle-navigation-container.toggled .toggle-navigation {
	transform: rotate(45deg);
}

.toggle-navigation-container.toggled .toggle-navigation::before,
.toggle-navigation-container.toggled .toggle-navigation::after {
	transform: rotate(0deg);
	top: -14px;
}

@media (max-width: 500px) {
	.nav {
		flex-direction: column;
		padding-bottom: 10px;
		height: 55px;
	}
	.nav.expanded {
		height: 400px;
	}
	.nav a {
		padding: 25px;
		visibility: hidden;
		opacity: 0;
		transition: all 200ms ease-in-out;
	}
	.nav.expanded a {
		visibility: visible;
		opacity: 1;
	}
	.separator {
		display: none;
	}
	.toggle-navigation {
		visibility: visible;
		opacity: 1;
	}
}

.admin-nav {
	position: fixed;
	top: 45px;
	opacity: 0.8;
}

.margin-top {
	margin-top: 10px;
}

.margin-bottom {
	margin-bottom: 10px;
}

.separator {
	color: white;
	margin: 0 5%;
	font-size: 12px;
	padding-bottom: 10px;
}

.admin-separator {
	margin: 0 2%;
}

.icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-size: cover;
	background-repeat: no-repeat;
	cursor: pointer;
}

.icon.no-pointer {
	cursor: auto;
}

.flex {
	display: flex;
}

.column {
	flex-direction: column;
}

.center {
	align-items: center;
	justify-content: center;
}

.left {
	margin-left: auto;
}

.goal {
	background-image: url('./assets/goal.png');
}

.owngoal {
	background-image: url('./assets/owngoal.png');
}

.yellowcard {
	background-image: url('./assets/yellow.png');
}

.redcard {
	background-image: url('./assets/red.png');
}

.penaltygoal {
	background-image: url('./assets/penalty.png');
}

.shootoutgoal {
	background-image: url('./assets/shootout.png');
}

.penaltymiss {
	background-image: url('./assets/penaltymiss.png');
}

.shootoutmiss {
	background-image: url('./assets/shootoutmiss.png');
}

.injury {
	background-image: url('./assets/injury.png');
}

.add {
	background-image: url('./assets/add.png');
}

.edit {
	background-image: url('./assets/edit.png');
}

.trash {
	background-image: url('./assets/trash.png');
}

.player-event {
	position: relative;
	margin-bottom: 5px;
	margin-right: 10px;
}

.player-event-number {
	position: absolute;
	right: -6px;
	top: -8px;
	background-color: lightgoldenrodyellow;
	padding: 0 1px;
}

.form input {
	margin-bottom: 5px;
}

.match-active h1 {
	font-weight: bold;
}

.admin-nav .logout {
	position: absolute;
	right: 20px;
}

.lds-ring {
	display: inline-block;
	position: absolute;
	top: 30%;
	left: 47.5%;
	width: 64px;
	height: 64px;
	transition: all 200ms ease-in-out;
}

@media (max-width: 500px) {
	.nav.expanded + .main ng-component .lds-ring {
		top: 50%;
	}
}

.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 51px;
	height: 51px;
	margin: 6px;
	border: 6px solid #fff;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #000 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}

@keyframes lds-ring {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

.main {
	margin-top: 100px;
}

.title {
	font-size: 30px;
}

.element {
	margin-bottom: 20px;
	border-bottom: 1px solid lightgray;
	border-right: 1px solid lightgray;
	padding-left: 20px;
	padding-bottom: 20px;
}

.element a {
	color: black;
}

.match-list .matches-date {
	font-size: 24px;
}

.match-container {
	flex-wrap: wrap;
	justify-content: center;
}

.match-container .element {
	flex-basis: 20%;
}

.match-container .match-goals {
	font-size: 24px;
}

.popup {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
	font-size: 18px;
	padding: 20px 40px;
	background-color: white;
	border-radius: 5px;
	max-height: 50%;
	overflow-y: scroll;
}

.home-event,
.away-event {
	align-items: center;
	margin-bottom: 3px;
}

.home-event {
	margin-right: auto;
}

.home-event .event-player {
	margin-left: 2px;
}

.home-event .event-minute {
	margin-left: 2px;
}

.away-event {
	flex-direction: row-reverse;
	margin-left: auto;
}

.away-event .event-player {
	margin-right: 2px;
}

.away-event .event-minute {
	margin-right: 2px;
}

.close-button,
.submit {
	font-size: 14px;
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	background-color: white;
	border: none;
	border-radius: 5px;
	color: lightcoral;
	padding: 5px;
}

.close-button:hover,
.submit:hover {
	background-color: #e8e8ee;
}

.submit {
	color: #90ee90;
}

.match-score {
	font-size: 24px;
}

.match-active {
	text-align: center;
	margin-top: 60%;
	font-size: 24px;
}

.match-active .match-score {
	font-size: 40px;
}

.match-active .home-event,
.match-active .away-event {
	font-size: 18px;
}

.groups-and-elimination {
	text-align: center;
}

.group-chooser {
	flex-wrap: nowrap;
	display: inline-block;
}

.group-chooser a {
	color: black;
	background-color: #e8e8ee;
	padding: 2px 5px;
	border-radius: 5px;
	margin-right: 5px;
}

.table-team-name {
	width: 150px;
}

.table-header {
	border-bottom: 1px solid #e8e8ee;
}

.top-scorer {
	text-align: left;
	margin-top: 50px;
}

.top-scorer span {
	font-size: 24px;
	margin-bottom: 10px;
}

.top-scorer div {
	margin-left: 10px;
}

.team-list {
	flex-wrap: wrap;
}

.team-list .team {
	flex-basis: 30%;
	padding: 50px;
	margin-bottom: 20px;
	border-bottom: 1px solid lightgray;
	border-right: 1px solid lightgray;
}

.team-list a {
	color: black;
}

.team-players,
.team-matches {
	margin-top: 20px;
}

.team-players .player {
	margin-right: auto;
	position: relative;
}

.team-players .player .player-event-count {
	margin-top: 5px;
}

.team-players .player .player-event-count .player-events {
	position: absolute;
	bottom: -5px;
}

.player-events {
	text-align: right;
}

.team-matches {
	width: 100%;
}

.right {
	text-align: right;
}

.align-end {
	align-items: flex-end;
}

.match-time-input {
	width: 50px;
}

.match-manage {
	padding-top: 100px;
}

.deactivate-link {
	margin-top: 20px;
	color: black;
}

.match-manage .match-event-actions span {
	margin-right: 10px;
}

.match-manage .player-subjects .home-players {
	margin-right: 10px;
}