<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <appSettings>
    <add key="as:Issuer" value="https://turnir.dump.hr" />
    <add key="as:AudienceId" value="FutsalAudience" />
    <add key="as:AudienceSecret" value="ajQdXGlbeTieGObIpAG0L7JFO6OyMr5ffPYI8vMei8FWvISMJMuMxm3eGefgF5n" />
  </appSettings>
</configuration>